<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>form-servlet</servlet-name>
    <servlet-class>ru.itis.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>form-servlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>blog-servlet</servlet-name>
    <servlet-class>ru.itis.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blog-servlet</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>

</web-app>
