body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navigation {
    background-color: #d3d3e8;
    color: #fff;
    padding: 25px;
}

#content {
    display: flex;
    flex-grow: 1;
    position: relative; /* Добавлено для z-index */
}

#left-sidebar {
    width: 300px; /* Увеличено поле слева */
    background-color: #d3d3e8;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2; /* На переднем плане */
}

#right-sidebar {
    width: 250px; /* Ширина пустого поля справа */
    background-color: #d3d3e8;
    z-index: 1; /* На заднем плане */
}

#right-sidebar input[type="submit"], #left-sidebar input[type="submit"]{
    background-color: #A19DCA;
    color: #fff;
    border: none;
    padding: 16px 8px;
    cursor: pointer;
    width: 150px;
}

#center-content {
    width: 70%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff; /* Задний план для центральной части */
    z-index: 0; /* На заднем плане */
}

