.file-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px; /* Расстояние между элементами */
}

.file-item {
    width: 100%; /* Используйте 100% ширины контейнера */
    height: 0; /* Установите высоту в 0, чтобы сохранить соотношение сторон */
    padding-bottom: 100%; /* Создайте квадратный блок с соотношением сторон 1:1 */
    overflow: hidden; /* Обрезать изображения, которые выходят за пределы блока */
    position: relative; /* Для позиционирования вложенных элементов */
}

.username-container {
    background-color: white; /* Белый фон для контейнера с именем пользователя */
    padding: 8px; /* Добавим отступы для лучшего визуального разделения */
    position: relative; /* Установим позиционирование для корректного использования z-index */
    z-index: 2; /* Передний план для имени пользователя */
}

.username {
    margin: 0; /* Уберем отступы вокруг имени пользователя */
}

.file-item img {
    width: 100%; /* Занимать 100% ширины блока */
    height: 100%; /* Занимать 100% высоты блока */
    object-fit: cover; /* Обрезать и подгонять изображение под размер блока */
    position: absolute; /* Позиционировать изображение относительно блока */
    top: 0;
    left: 0;
    z-index: 1; /* Задний план для изображения */
}
