/* Добавьте следующие стили в ваш файл CSS */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FCEED1;
    color: #333;
    font-family: Arial, sans-serif;
}

.profile-container {
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #A19DCA;
    text-align: center;
    margin-top: 20px;
}

img {
    margin: 20px auto;
    display: block;
}

form {
    text-align: center;
}

input[type="submit"] {
    background-color: #B8D4D7;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #E6BABE;
}

h2 {
    color: #A19DCA;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
