header img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-bar {
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопок вправо */
    background-color: #1c1c1c;
    padding: 10px 20px; /* Отступы от краев */
}

.nav-button {
    background-color: #1c1c1c; /* Цвет фона кнопок совпадает с цветом фона навбара */
    color: #ff69b4; /* Цвет текста кнопок */
    padding: 10px 20px; /* Отступы внутри кнопок */
    cursor: pointer; /* Изменение курсора при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета */
    width: 280px; /* Фиксированная ширина для всех кнопок */
    text-align: center; /* Выравнивание текста по центру */
    border: none; /* Убираем границу */
    box-shadow: none; /* Убираем тень */
}

.nav-button:not(:last-child) {
    margin-right: 10px; /* Отступ справа для всех кнопок, кроме последней */
}

.nav-button:hover {
    background-color: #ff69b4; /* Цвет фона кнопок при наведении */
    color: #1c1c1c; /* Цвет текста кнопок при наведении */
}