body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #ff69b4;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffab00;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: #ffffff;
}

.settings-button {
    background: #2c2c2c; /* Цвет кнопки */
    color: #ff69b4;
    border: 2px solid #ff69b4;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.settings-button:hover {
    background-color: #ff69b4; /* Цвет фона кнопок при наведении */
    color: #2c2c2c;
}
