# Игнорировать каталоги и файлы, которые создаются IDE
.idea
*.iml
*.iws

# Игнорировать каталоги, создаваемые системой сборки
target/
build/

# Игнорировать временные файлы и каталоги
*.log
*.tmp
*.swp
*~

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы конфигурации операционной системы
.vscode/
.project
.settings/
.classpath
